.avatar-icon11 {
  position: relative;
  border-radius: var(--br-31xl);
  width: 36px;
  height: 36px;
  overflow: hidden;
  flex-shrink: 0;
}
.confucius1 {
  position: relative;
  line-height: 19px;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.min6 {
  position: relative;
  line-height: 19px;
  display: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.dots-child15 {
  position: relative;
  border-radius: 50%;
  background-color: var(--text-color);
  width: 3px;
  height: 3px;
}
.dots6 {
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.right-infos6 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
  font-size: var(--font-size-xs);
  color: var(--text-color-alt);
}
.heading-infos6 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.a-youth-when1 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-smi);
  line-height: 19px;
}
.infos16 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xs);
}
.carrossel-child11 {
  position: relative;
  border-radius: var(--br-5xs);
  width: 238px;
  height: 230px;
  object-fit: cover;
}
.carrossel7 {
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.like-icon8 {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.repost-icon6 {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.actions6 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.respostas7 {
  position: relative;
  letter-spacing: -0.2px;
  line-height: 19px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.respostas-e-curtidas-child8 {
  position: relative;
  border-radius: 50%;
  background-color: var(--color-darkgray);
  width: 2px;
  height: 2px;
}
.respostas-e-curtidas10 {
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-9xs);
  font-size: var(--font-size-smi);
  color: var(--color-darkgray);
}
.infos-actions8 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.wisdom4 {
  position: relative;
  letter-spacing: -0.2px;
  line-height: 19px;
  display: inline-block;
  width: 47px;
  flex-shrink: 0;
}
.respostas-e-curtidas-child9 {
  position: relative;
  border-radius: 50%;
  background-color: var(--text-color-alt);
  width: 2px;
  height: 2px;
}
.respostas-e-curtidas11 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-9xs);
  font-size: var(--font-size-smi);
  color: var(--text-color-alt);
}
.infos-actions-container {
  width: 564px;
  height: 113px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.infos15 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.infos-actions7 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.thread11 {
  align-self: stretch;
  border-bottom: 1px solid var(--border-color);
  box-sizing: border-box;
  height: 197px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-base) var(--padding-base)
    var(--padding-xs);
  gap: var(--gap-xs);
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--text-color);
  font-family: var(--font-inter);
}
