.image-1-icon {
  position: relative;
  border-radius: var(--br-31xl);
  width: 64px;
  height: 64px;
  object-fit: cover;
}
.jhon-doe {
  position: relative;
  line-height: 19px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.jhondoe {
  position: relative;
  line-height: 19px;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.infos10 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: var(--font-size-xs);
}
.infos9 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.ui-developer {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-xs);
  line-height: 19px;
  font-weight: 500;
}
.infos8 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0px;
  gap: var(--gap-base);
}
.infos7 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.likes {
  position: relative;
  letter-spacing: -0.2px;
  line-height: 19px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.respostas-e-curtidas-child5 {
  position: relative;
  border-radius: 50%;
  background-color: var(--text-color-alt);
  width: 2px;
  height: 2px;
}
.respostas-e-curtidas7 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.infos11 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: var(--font-size-smi);
  color: var(--text-color-alt);
}
.infos6 {
  position: absolute;
  top: 56px;
  left: 0px;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-29xl);
  box-sizing: border-box;
  gap: var(--gap-base);
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--text-color);
  font-family: var(--font-inter);
}
